<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.teachingschedule.dao.CourseTableDAO">
    <!--List<CourseTable> getTables();-->
    <select id="getTables" resultType="com.web.teachingschedule.vo.entity.CourseTable">
        SELECT
        ct_id ctId,
        ct_week ctWeek,
        ct_oneday ctOneday,
        ct_period ctPeriod,
        lab_name labName,
        user_id userId,
        course_id courseId,
        term_name termName,
        ct_people ctPeople,
        class_id classId,
        e_id eId
        FROM
        courseTable
        ORDER BY
        ct_week ASC,
        ct_oneday ASC,
        ct_period ASC
    </select>
    <!--List<CourseTable> getTablesByTermAndWeekAndLab(@Param("termName") String termName,@Param("ctWeek") int ctWeek,@Param("labName") String labName);-->
    <select id="getTablesByTermAndWeekAndLab" resultType="com.web.teachingschedule.vo.entity.CourseTable">
        SELECT
        ct_id ctId,
        ct_week ctWeek,
        ct_oneday ctOneday,
        ct_period ctPeriod,
        lab_name labName,
        user_id userId,
        course_id courseId,
        term_name termName,
        ct_people ctPeople,
        class_id classId,
        e_id eId
        FROM
        courseTable
        WHERE
        term_name=#{termName} AND ct_week=#{ctWeek} AND lab_name=#{labName}
        ORDER BY
        ct_oneday ASC,
        ct_period ASC
    </select>

    <!--List<CourseTable> getTablesByClassId(@Param("classId") String classId,@Param("termName") String termName,@Param("ctWeek") String ctWeek);-->
    <select id="getTablesByClassId" resultType="com.web.teachingschedule.vo.entity.CourseTable">
        SELECT
        ct_id ctId,
        ct_week ctWeek,
        ct_oneday ctOneday,
        ct_period ctPeriod,
        lab_name labName,
        user_id userId,
        course_id courseId,
        term_name termName,
        ct_people ctPeople,
        class_id classId,
        e_id eId
        FROM
        courseTable
        WHERE
        term_name=#{termName} AND class_id=#{classId} AND ct_week=#{ctWeek}
        ORDER BY
        ct_oneday ASC,
        ct_period ASC
    </select>

    <!--List<CourseTable> getTablesByWeek(@Param("ctWeek") int ctWeek,String termName);-->
    <select id="getTablesByWeek" resultType="com.web.teachingschedule.vo.entity.CourseTable">
        SELECT
        ct_id ctId,
        ct_week ctWeek,
        ct_oneday ctOneday,
        ct_period ctPeriod,
        lab_name labName,
        user_id userId,
        course_id courseId,
        term_name termName,
        ct_people ctPeople,
        class_id classId,
        e_id eId
        FROM
        courseTable
        WHERE
        ct_week=#{ctWeek} AND term_name=#{termName}
        ORDER BY
        ct_oneday ASC,
        ct_period ASC
    </select>

    <!--List<CourseTable> getTablesByLab(@Param("labName") String labName);-->
    <select id="getTablesByLab" resultType="com.web.teachingschedule.vo.entity.CourseTable" parameterType="java.lang.String">
        SELECT
        ct_id ctId,
        ct_week ctWeek,
        ct_oneday ctOneday,
        ct_period ctPeriod,
        lab_name labName,
        user_id userId,
        course_id courseId,
        term_name termName,
        ct_people ctPeople,
        class_id classId,
        e_id eId
        FROM
        courseTable
        WHERE
        lab_name=#{labName}
        ORDER BY
        ct_week ASC,
        ct_oneday ASC,
        ct_period ASC
    </select>

    <!--    List<CourseTable> getTablesByTeacherAndTerm(@Param("userId") String userId,@Param("termName") String termName);-->
    <select id="getTablesByTeacherAndTerm" resultType="com.web.teachingschedule.vo.entity.CourseTable">
        SELECT
        ct_id ctId,
        ct_week ctWeek,
        ct_oneday ctOneday,
        ct_period ctPeriod,
        lab_name labName,
        user_id userId,
        course_id courseId,
        term_name termName,
        ct_people ctPeople,
        class_id classId,
        e_id eId
        FROM
        courseTable
        WHERE
        user_id=#{userId} AND term_name=#{termName} AND ct_week=#{ctWeek}
        ORDER BY
        ct_week ASC,
        ct_oneday ASC,
        ct_period ASC
    </select>

    <!--List<CourseTable> getTablesByTeaAndCou(@Param("userId") String userId,@Param("courseId") String courseId,@Param("ctWeek") int ctWeek);-->
    <select id="getTablesByTeaAndCou" resultType="com.web.teachingschedule.vo.entity.CourseTable">
        SELECT
        ct_id ctId,
        ct_week ctWeek,
        ct_oneday ctOneday,
        ct_period ctPeriod,
        lab_name labName,
        user_id userId,
        course_id courseId,
        term_name termName,
        ct_people ctPeople,
        class_id classId,
        e_id eId
        FROM
        courseTable
        WHERE
        user_id=#{userId} AND course_id=#{courseId} AND ct_week=#{ctWeek} AND term_name=#{termName}
        ORDER BY
        ct_week ASC,
        ct_oneday ASC,
        ct_period ASC
    </select>

    <!--int addTable(CourseTable courseTable);-->
    <insert id="addTable" parameterType="com.web.teachingschedule.vo.entity.CourseTable">
        INSERT INTO
        courseTable
        (ct_id,ct_week,ct_oneday,ct_period,lab_name,user_id,course_id,term_name,ct_people,class_id,e_id)
        VALUE
        (#{ctId},#{ctWeek},#{ctOneday},#{ctPeriod},#{labName},#{userId},#{courseId},#{termName},#{ctPeople},#{classId},#{eId})
    </insert>

    <!--int deleteTable(@Param("ctId") String ctId);-->
    <delete id="deleteTable" parameterType="java.lang.String">
        DELETE FROM
        courseTable
        WHERE
        ct_id=#{ctId}
    </delete>

    <!--List<CourseTable> getTablesByTeaAndClass(@Param("userId") String userId,@Param("classId") String classId,@Param("ctWeek") int ctWeek,@Param("termName") String termName);-->
    <select id="getTablesByTeaAndClass" resultType="com.web.teachingschedule.vo.entity.CourseTable">
        SELECT
        ct_id ctId,
        ct_week ctWeek,
        ct_oneday ctOneday,
        ct_period ctPeriod,
        lab_name labName,
        user_id userId,
        course_id courseId,
        term_name termName,
        ct_people ctPeople,
        class_id classId,
        e_id eId
        FROM
        courseTable
        WHERE
        user_id=#{userId} AND class_id=#{classId} AND ct_week=#{ctWeek} AND term_name=#{termName}
        ORDER BY
        ct_week ASC,
        ct_oneday ASC,
        ct_period ASC
    </select>




    <!--CourseTable getTableByTime(TimeDTO timeDTO);-->
    <select id="getTableByTime" resultType="com.web.teachingschedule.vo.entity.CourseTable" parameterType="com.web.teachingschedule.vo.dto.TimeDTO">
        SELECT
        ct_id ctId,
        ct_week ctWeek,
        ct_oneday ctOneday,
        ct_period ctPeriod,
        lab_name labName,
        user_id userId,
        course_id courseId,
        term_name termName,
        ct_people ctPeople,
        class_id classId,
        e_id eId
        FROM
        courseTable
        WHERE
        term_name=#{termName} AND ct_week=#{ctWeek} AND ct_oneday=#{ctOneday} AND ct_period=#{ctPeriod} AND lab_name=#{labName}
    </select>

    <!--List<CourseTable> getTablesByTeacher(String userId);-->
    <select id="getTablesByTeacher" resultType="com.web.teachingschedule.vo.entity.CourseTable">
        SELECT
        ct_id ctId,
        ct_week ctWeek,
        ct_oneday ctOneday,
        ct_period ctPeriod,
        lab_name labName,
        user_id userId,
        course_id courseId,
        term_name termName,
        ct_people ctPeople,
        class_id classId,
        e_id eId
        FROM
        courseTable
        WHERE
        user_id=#{userId}

    </select>



</mapper>